.loading {
    position: relative;
    height: 30vh;
    &__indicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:300px;
      height: 300px;
      opacity: .6;
    }
  }


@keyframes bounce-out {
    25% {
      transform: translate(-50%, -50%) scale(.8);
      opacity: .8;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
      opacity: .6;
    }
    75% {
      transform: translate(-50%, -50%) scale(.8);
      opacity: .8;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: .6;
    }
  }
  
  .animation-bounce-out {
    animation: bounce-out 2s infinite;
    animation-fill-mode: both;
  }
  