html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.asanas{
    display: flex;
    flex-direction: column;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item-container {
      position: relative;
      width: 30%;

      margin: 14px 14px;
      border: 1px solid #ddd;
      border-radius: 4px;
      object-fit: scale-down;
      &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
    }

    &__pic {
      width: 100%;
      opacity: 1;
      display: block;
      transition: .5s ease;
    }

    &__middle-on-pic {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      }
      
      &__item-container:hover &__pic {
        opacity: 0.3;
      }
      
      &__item-container:hover &__middle-on-pic {
        opacity: 1;
      }
      
      &__btn-on-pic {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
}