@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Chewy|Cormorant+Garamond|Itim|Lexend+Zetta&display=swap');

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
  // overflow-y: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.parallax-wrapper {
  transform-style: preserve-3d;
  width: 100vw;
  height:100vh;
  box-sizing: border-box;

  &::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url($body-background);
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
  }
}